body, div, p, span {
  margin: 0px;
  padding:0px;
  font-family: "arial", "sans-serif";
  height: 100%;
}

h1, h3, h4 {
  margin: 0px !important;
}

.header {
  margin-bottom: 100px !important;
  text-align: center;
}

.container {
  display: block;
  width: 90%;
  margin: auto;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  padding:15px;
}

.formBox {
  display: block;
}

.box {
  border-radius: 5px;
  border: 2px solid #000;
  margin:auto !important;
  width: 100% !important;
  padding:10px 20px 0px 20px;

}

.marginTop5 {
  margin-top: 5px !important;
}

.marginTop40 {
  margin-top: 40px !important;
}

.marginBottom20 {
  margin-bottom: 20px !important;
}

.hiddenComma {
  display: none;
}

.postBox {
  position: relative !important;
}

.postDate {
  position:absolute !important;
  right: 10px;
  top:0px;
}

.image, .texts {
  float: left;
  display: inline-block;
}

@media only screen and (max-width: 1024px)  {
  dl.tags {
    list-style-type: none;
  }

  dl.tags li {
    float:left;
  }
  .tagsBox {
    border:0px;
  }
  .hiddenComma {
    display: inline-block;
  }
}